
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
				<div _ngcontent-c1="" class="logo">
					<a _ngcontent-c1="" href="#">
						<i _ngcontent-c1="" class="zmdi zmdi-coffee zmdi-hc-2x"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
<h3 class="footer_title">ABOUT</h3>				<ul class="footer_linklists">
					<li><a routerLink="#" title="About us">About us</a></li>
					<li><a routerLink="#" title="Blog">Blog</a></li>
					<li><a routerLink="#" title="Job opportunities">Job opportunities</a></li>
					<li><a routerLink="#" title="Store">Store</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
				<div class="hotline_footer">
<h3 class="footer_title">Always-on Support</h3><p>Delivery 0905 222 622  (07:00-21:00)</p><p>Support 0905 222 622 (07:00-21:00) </p>				</div>
				<div class="address_footer">
<h3 class="footer_title">Address</h3><p>8 Ton Dan, Hoa An, Cam Le, Da Nang, Viet Nam</p><p>0905 222 622</p><p>thanhcong83dn@gmail.com</p>				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
<h3 class="footer_title">Delivery</h3>				<ul class="footer_linklists">
					<li><a routerLink="/" title="Shipping methods">Shipping methods</a></li>
					<li><a routerLink="/" title="Payment">Payment</a></li>
					<li><a routerLink="/" title="Cash voucher">Cash voucher</a></li>
					<li><a routerLink="/" title="Return">Return</a></li>
					<li><a routerLink="/" title="Exchange">Exchange</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
