<div id="loading">
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
  <div class="obj"></div>
</div>

<br>
<div class="container bg-light text-black" style="visibility: hidden;" id="profile">
    <div class="row">
  		<div class="col-sm-12 text-center"><h1>Information</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
        <div class="text-center">
          <img src="{{loggedIn.avatar}}" class="img-fluid rounded-circle" alt="avatar">
          <br><br>
          <h4>{{loggedIn.firstName}} {{loggedIn.lastName}}</h4>
        </div>
      </div><!--/col-3-->
    	<div class="col-sm-9">
        <form (submit)="updateUser(firstName.value,pwd.value,lastName.value,phone.value,location.value,verify.value)">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input #firstName type="text" class="form-control" id="firstName" value="{{loggedIn.firstName}}" placeholder="First name...">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" [(value)]="gender" (change)="genderChanged($event)">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" value="{{loggedIn.email}}" class="form-control" id="email" placeholder="email@gmail.com" disabled>
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input #pwd type="password" value="{{loggedIn.password}}" class="form-control" id="pwd" placeholder="Password...">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input #lastName type="text" class="form-control" value="{{loggedIn.lastName}}" id="lastName" placeholder="Last name...">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input #phone type="text" class="form-control" value="{{loggedIn.phone}}" id="phone" placeholder="Phone...">
                  </div>
                  <div class="form-group">
                      <label for="location">Location:</label>
                      <input #location type="text" class="form-control" value="{{loggedIn.location}} "d="location" placeholder="Location...">
                    </div>
                <div class="form-group">
                  <label for="verify">Verify:</label>
                  <input #verify type="password" value="{{loggedIn.password}}" class="form-control" id="verify" placeholder="Password...">
                </div>
            </div>
          </div>
        </form>
      </div><!--/col-9-->
    </div><!--/row-->
</div>
